body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex: 1;
    padding: 0px 100px;
}

.placeholder-image {
    width: 300px;
    height: 200px;
}

.hero-main-text {
    color: #e5e7eb;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    font-size: 43px;
    color: #1f2937;
}

p {
    font-size: 18px;
    color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 56px;
    background-color: #1f2937;

}

.header-title {
    font: 24px;
    color: #f9faf8;
}

.header-list {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.body1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 100px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

.image1 {
    display: flex;
    background-color: #3d588e;
    padding: 56px;
}

.italic {
    font: 18px;
    color: #1f2937;
}

.image2 {
    width: 200px;
    height: 100px;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.body3 {
    display: flex;
    flex-direction: column;
    padding: 72px;
    align-items: center;
    background-color: #e5e7eb;
}

.body4 {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    margin: 100px;
    padding: 16px;
}

.container4 {
    display: flex;
    flex-direction: column;
}