body {
    background-color: #FFFFFF;
    padding: 50;
    margin: 50;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.bx navbar {
    display: flex;
    padding 20px;
}

img {
    width: 50px;
    length: 50px;
}